@import '_variable.scss';
.demo {
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0%;
	height: 20000px;
	opacity: 0.1;
	background-image: url('../image/demo.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
	transition: 0.3s;
}
#detail-headline {

	/*width: 100%;*/
	padding: 0px 40px;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;      

	@media screen and (max-width: 767px) {
		padding: 0px 10px;
	}
	> div {
		position: relative;
		padding: 40px;
		/*background-color: pink;*/
		@media screen and (max-width: 767px) {
			padding: 0px;
			height: 80vh;
		}
	}
	.image-bg {
		position: absolute;
		top: 0%;
		left: 0%;
		right: 0%;
		bottom: 0%;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		z-index: -1;
	}
	.image-lists {
		position: absolute;
		top: 40px;
		left: 80px;
		bottom: 40px;

		> div {
			height: 50px;
			width: 80px;
			margin-bottom: 10px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
		}
	}
	.detail-tools {
		margin-left: 70%;
		padding: 20px;
		width: 30%;
		/*height: 39vw;*/
		min-height: 70vh;

		background-color: white;

		/*text-align: right;*/

		a{}

		label {
			font-size: 2.2rem;
			font-weight: 500;
			opacity: 0.5;
		}
		.product-name {
			font-size: 3rem;
			font-weight: 600;
			opacity: 0.5;
		}
		.product-descript {
			font-size: 1.6rem;
			font-weight: 500;
			opacity: 0.5;
		}
		.product-colors {
			margin-top: 30px;
			a{}
			.product-color-name {
				a{}
				> span {
					font-size: 1.6rem;
					font-weight: 500;
					opacity: 0.5;
				}
			}
		}
		.product-sizes {
			margin-top: 30px;
			a{}
			.product-size {
				display: inline-block;
				width: 40px;
				line-height: 40px;

				font-size: 2rem;
				font-weight: 600;
				text-align: center;

				border: 1px solid rgba(0,0,0,0.2);
			}
			.size-guide {
				a {
					color: $subcolor;
					font-size: 1rem;
					font-weight: 600;
					text-transform: uppercase;
				}
			}
		}
		.product-quantity {
			margin-top: 30px;
			input {
				width: 70px;
				padding-left: 10px;

				font-size: 2rem;
				font-weight: 600;
				line-height: 40px;
				text-align: center;

				border: 1px solid rgba(0,0,0,0.2);
			}
		}
		.product-price {
			margin-top: 60px;
			padding: 10px 0px;

			font-size: 3rem;
			font-weight: 600;

			border-top: 2px solid grey;
			opacity: 0.5;
		}
		.product-buybutton {
			padding: 16px;

			color: white;
			font-size: 1.6rem;
			font-weight: 500;
			text-align: center;
			line-height: 20px;


			background-color: $maincolor;

			span {
				margin-right: 10px;
				font-size: 1.8em;
				vertical-align: middle;
			}
		}
	}
}
#detail-info {
	/*height: 100vw;*/
	padding: 40px 10% 80px;
	background-color: white;

	h3 {
		margin-bottom: 40px;
		color: grey;
		font-size: 5rem;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		opacity: 0.7;

		span {
			display: block;
			font-size: 0.3em;
		}
	}
	.info-column {
		margin-right: -1px;
		border-left: 1px solid #808285;
		border-right: 1px solid #808285;
		padding: 20px 40px;


		&:first-child {
			border-left-color: transparent;
		}

		&:last-child {
			border-right-color: transparent;
		}

		label {
			color: $subcolor;
			font-size: 2.5rem;
			font-weight: 500;
			text-transform: uppercase;
		}
		.info-text {
			color: #808285;
			font-size: 1.5rem;
			font-weight: 500;
		}
		.size-measure {
			margin-top: 30px;
			padding: 0px 10%;
			> div {
				padding-top: 100%;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		.size-chart {
			margin-top: 30px;
			table {
				width: 100%;

				text-align: center;
				font-size: 2rem;

				a{}
				td {
					line-height: 3em;
					border: 4px solid white;
				}
				thead {

					td {
						color: #737477;
						background-color: #E8E8E8;
					}
				}
				tbody {
					td {
						color: #FDFDFD;
						background-color: #BFBFBF;
						&:first-child {
							background-color: $maincolor;
						}
					}
				}
			}
		}
	}
}
#intro {
	padding: 30px;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column wrap;
	align-content: center;

	height: 1900px;
	font-size: 0px;

	@media screen and (max-width: 767px) {
		padding: 6px;
		height: 400px;
	}
	.intro-img {
		position: relative;
		height: 25%;
		width: 33.33%;

		@media screen and (max-width: 767px) {
			height: 25%;
		}
		&.big {
			height: 50%;
		}
		> div {
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			background-color: grey;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			@media screen and (max-width: 767px) {
				top: 4px;
				left: 4px;
				right: 4px;
				bottom: 4px;
			}
		}
	}

}
#showcase {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #F2F2F2;
	.row {
		max-width: 1600px;
		margin: auto;
	}
	.showcase-label {
		margin: 30px 0px;
		font-size: 4.5rem;
		font-weight: 600;
		color: #8C8C8C;
		@media screen and (max-width: 767px) {
			margin: 30px 0px 0px;
			font-size: 2rem;
		}
	}
	.showcase-tabs {
		margin: 43px 0px;
		text-align: right;
		@media screen and (max-width: 767px) {
			margin: 0px;
			display: none;
		}
		> .showcase-tab {
			display: inline-block;
			padding: 5px 16px; 
			margin-left: 20px; 

			color: #8C8C8C;
			font-size: 1.6rem;
			font-weight: 600;
			line-height: normal;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;      
			border: 2px solid transparent;
			cursor: pointer;
			transition: 0.3s;
			@media screen and (max-width: 767px) {

			}
			&.active {
				border-color: #8C8C8C;
			}
		}
	}
	.showcase-display {
		padding: 0px 0px 40px;
		@media screen and (max-width: 767px) {
			padding: 0px;
		}
	}
	.showcase-side {
		@media screen and (max-width: 767px) {
			padding: 40px 0px;
		}
		> div {
			padding: 0px;
		}
		> div:first-child {
			margin-bottom: 40px;
		}
	}
	.showcase-bottom {
		@media screen and (max-width: 767px) {
			padding: 0px !important;
			> div {
				margin-bottom: 40px;
				padding: 0px;
			}
		}
	}
	.product-present {
		@media screen and (max-width: 767px) {
			padding: 0px;
			margin: 0px;
		}
		.product-mix {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			padding-top: calc(100% + 10px);
			> div {
				position: absolute;
				top: 5%;
				left: 5%;
				right: 5%;
				bottom: 5%;

				background-image: url('../image/product/mix.png');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	.maylike {
		padding: 30px 0px;

		font-size: 4rem;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;

		opacity: 0.5;
	}
}