@import '_variable.scss';

#searchinput {
	background-color: $subcolor;
	padding: 40px 0px;

	form {
		width: 80%;
		margin: auto;

		h3 {
			color: white;
			opacity: 0.5;
			font-size: 2rem;
			font-weight: 300;
		}
		fieldset {
			position: relative;
		}
		.fa-search {
			position: absolute;
			top: 0%;
			left: 0px;
			font-size: 3rem;
			padding-left: 10px;
			line-height: 60px;
			opacity: 0.5;
		}
		input {
			display: block;
			width: 100%;
			border: none;
			border-radius: 3px;
			font-size: 3rem;
			color: grey;
			/*padding: 10px 10px 10px 50px;*/
			padding-left: 50px;
			line-height: 60px;
		}
	}
}
#searchstore {
	padding: 0px 2%;
	max-width: 1200px;
	margin: auto;
	#filter-count {
		line-height: 50px;
		text-align: center;
		color: $maincolor;
		font-size: 2rem;
		font-weight: 500;
	}
	.store {
		/*display: inline-block;*/
		float: left;
		width: 23.5%;
		padding: 0.75%;
		margin: 0.75%;
		min-height: 150px;
		border-radius: 3px;
		background-color: rgb(241, 241, 241);
		color: rgb(100, 100, 100);
		@media screen and (max-width: 1199px) {
			width: 31.8%;
		}
		@media screen and (max-width: 991px) {
			width: 48.5%;
		}
		@media screen and (max-width: 767px) {
			
		}

		h3 {
			color: $maincolor;
		}
	}
}